body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBEB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* // Baku Ane Otouto Shibocchau Zo!   Kyonyuu Hitozuma Onna Kyoushi Saimin  https://t.me/Paradise_arena Ijirare Fukyshuu https://t.me/HentaiFLEX*/
/*  himekishi lilia bible black joshi luck daisuki no haha*/